* {
  margin: 0;
  padding: auto;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.2rem;
  background-color: #e3f2fd;
}
@media (max-width: 1024px) {
  body {
    padding: 2.4rem;
  }
}
@media (max-width: 730px) {
  body {
    padding: 1.8rem;
  }
}
.container {
  width: 60%;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }
}
button {
  cursor: pointer;
  border-radius: 9px;
  border: none;
}
button:hover {
  background-color: #e0e0e0;
}
.add-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-add {
  border: none;
  padding-left: 10px;
  border-radius: 9px;
  width: 300px;
  height: 40px;
}
@media (max-width: 730px) {
  .input-add {
    width: 100%;
  }
}
.input-add:focus {
  outline: none;
}
.btn-add {
  height: 40px;
  width: 60px;
}
.list-box {
  width: 100%;
  background-color: #ffffff;
  border-radius: 9px;
  height: 500px;
  padding: 1.8rem 0;
  overflow-y: scroll;
}
.list {
  list-style: none;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list-box::-webkit-scrollbar {
  width: 6px;
}

.list-box::-webkit-scrollbar-track {
  background: transparent;
}

.list-box::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 9px;
}
.task {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.task p {
  width: 100%;
  margin-left: 1rem;
  font-size: 1.6rem;
}
.task input {
  width: 30px;
  height: 30px;
}
.checked p {
  text-decoration: line-through;
  color: gray;
}
.delete-btn {
  width: 30px;
  height: 30px;
  background-color: none;
}
